.body {
    border: solid 0.2rem;
    border-radius: 2rem;
    font-family: ;
    width: 50rem;
}

.header {
    text-decoration: underline;
    padding-bottom: 6rem;
    margin-left: 2rem;
}

.container {
    background-color: lightblue;
    border: solid 0.2rem;
    border-radius: 2rem;
    padding: 0rem 1rem 1rem 2rem;
}

.content {
    margin: 5rem;

}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

li {
    list-style-type: none;
    padding: 0.5rem;
}

ul {
    padding: 0;
}